{
    "all": true,
    "cache": false,
    "exclude": [
        "coverage",
        "controllers/db/elasticsearch.js",      
        "controllers/db/mongo.js",      
        "test",
        "extras",
        "restlets",
        "util/logger.js",
        "util/restApiUtil.js"      
    ],
    "extensions": [
        ".js",
        ".ts"
    ],
    "report-dir": "./coverage",
    "reporter": [
        "cobertura",
        "html",
        "text",
        "text-summary"
    ],
    "temp-directory": "./coverage/.nyc_output"
}
